
.calendar-container {
    text-align: center;
  }
  
  .header1 {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 2px;
    font-size: 12px;
    z-index: 1;
  }
  .calendar {
    display: flex;
    flex-direction: column; 
    overflow-y: scroll;
  }
  
  .month {
    flex: 0 0 15%;
    padding: 15px;
    border: 1px solid #ccc;
  }

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }

  
  .day {
    border: 1px solid #eee;
    padding: 5px;
    cursor: pointer;
  }
  
  .day:hover {
    background-color: #f0f0f0;
  }
  .current-day {
    background-color: #87ceeb; 
  }
  
  .weekdays {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
  }
  
  .weekday {
    flex: 0 0 14.28%;
    text-align: center;
  }

  
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  
  